<footer>
  <div class="footer-left">
    <div class="logo">
      <a routerLink="/">
        <i class="fas fa-graduation-cap fa-5x"></i>
        <h2>PraRoz</h2>
      </a>
    </div>

    <div class="description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nemo mollitia ad
      omnis tempora, unde odio veniam nobis ut porro repellendus aperiam fugiat
      magnam quod quo. Reiciendis aliquid modi exercitationem porro.
    </div>

    <div class="social-list">
      <div class="social-item">
        <a href="#">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>

      <div class="social-item">
        <a href="#">
          <i class="fab fa-instagram"></i>
        </a>
      </div>

      <div class="social-item">
        <a href="#">
          <i class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>

  <div class="footer-right">
    <div class="footer-right-content">
      <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-12">
          <ul class="footer-right-list">
            <li class="footer-right-item">
              <a href="#">Home</a>
            </li>

            <li class="footer-right-item">
              <a href="#">About</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Contact</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Design</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <ul class="footer-right-list">
            <li class="footer-right-item">
              <a href="#">Home</a>
            </li>

            <li class="footer-right-item">
              <a href="#">About</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Contact</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Design</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <ul class="footer-right-list">
            <li class="footer-right-item">
              <a href="#">Home</a>
            </li>

            <li class="footer-right-item">
              <a href="#">About</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Contact</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Design</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 col-md-6 col-sm-12">
          <ul class="footer-right-list">
            <li class="footer-right-item">
              <a href="#">Home</a>
            </li>

            <li class="footer-right-item">
              <a href="#">About</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Contact</a>
            </li>

            <li class="footer-right-item">
              <a href="#">Design</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</footer>
