<h2>Thay Đổi Thông Tin</h2>

<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12 mb-4">
    <form
      #changeInfoForm="ngForm"
      (ngSubmit)="handleChangeInfo(changeInfoForm.value)"
    >
      <div class="notify-error">
        {{ notify }}
      </div>

      <!-- Họ Tên -->
      <div class="form-group">
        <label for="">Họ Tên</label>
        <input
          type="text"
          class="form-control"
          name="hoTen"
          ngModel
          required
          #HoTen="ngModel"
        />
        <div
          class="notify-error"
          *ngIf="HoTen.errors && (HoTen.dirty || HoTen.touched)"
        >
          <div *ngIf="HoTen.errors.required">Họ tên không được rỗng</div>
        </div>
      </div>

      <!-- Tài Khoản -->
      <div class="form-group">
        <label for="">Tài Khoản</label>
        <input
          type="text"
          class="form-control"
          name="taiKhoan"
          ngModel
          required
          #TaiKhoan="ngModel"
        />

        <div
          class="notify-error"
          *ngIf="TaiKhoan.errors && (TaiKhoan.dirty || TaiKhoan.touched)"
        >
          <div *ngIf="TaiKhoan.errors.required">Tài khoản không được rỗng</div>
        </div>
      </div>

      <!-- Mật Khẩu -->
      <div class="form-group">
        <label for="">Mật Khẩu</label>
        <input
          type="password"
          class="form-control"
          name="matKhau"
          ngModel
          required
          #MatKhau="ngModel"
        />

        <div
          class="notify-error"
          *ngIf="MatKhau.errors && (MatKhau.dirty || MatKhau.touched)"
        >
          <div *ngIf="MatKhau.errors.required">Mật khẩu không được rỗng</div>
        </div>
      </div>

      <!-- Email -->
      <div class="form-group">
        <label for="">Email</label>
        <input
          type="text"
          class="form-control"
          name="email"
          ngModel
          required
          #Email="ngModel"
          email
        />

        <div
          class="notify-error"
          *ngIf="Email.errors && (Email.dirty || Email.touched)"
        >
          <div *ngIf="Email.errors.required">Email không được rỗng</div>

          <div *ngIf="!Email.errors.required && Email.invalid">
            Email không đúng định dạng
          </div>
        </div>
      </div>

      <!-- SDT -->
      <div class="form-group">
        <label for="">SĐT</label>
        <input
          type="text"
          class="form-control"
          name="soDT"
          ngModel
          required
          #SDT="ngModel"
          minlength="10"
          maxlength="10"
        />

        <div
          class="notify-error"
          *ngIf="SDT.errors && (SDT.dirty || SDT.touched)"
        >
          <div *ngIf="SDT.errors.required">SDT không được rỗng</div>
          <div *ngIf="SDT.errors.minlength || SDT.errors.maxlength">
            Số điện thoại phải đủ 10 số
          </div>
        </div>
      </div>

      <div class="btn-change">
        <button class="btn btn-style" [disabled]="!changeInfoForm.valid">
          Thay Đổi
        </button>
      </div>
    </form>
  </div>
</div>
