h2 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
  margin-top: 20px;
}

form {
  padding: 0 20px;
}

.btn-change {
  display: flex;
  justify-content: center;
}

.btn-style:hover {
  color: #fff;
  background-color: #ff7200;
}
